<?xml version="1.0"?>
<sdf version="1.6"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name="marsyard2021">
<!-- 
@author: Baran Berk Bağcı-->

<!-- Empty world with artag, blue sky and clouds.-->
    <physics type="ode">
      <ode>
        <solver>
          <!-- IMPORTANT for skid steering to properly work -->
          <friction_model>cone_model</friction_model>

          <island_threads>6</island_threads>
        </solver>
      </ode>
    </physics>

    <light name='sun' type='directional'>
      <pose frame=''>0 0 100 0 0.8 0</pose>
      <diffuse>1 1 1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <cast_shadows>1</cast_shadows>
    </light>

    <scene>
      <ambient>0.6 0.6 0.6 1.0</ambient>
      <sky>
        <clouds>
          <speed>12</speed>
        </clouds>
      </sky>
      <shadows>true</shadows>
      <origin_visual>true</origin_visual>
    </scene>

    <include>
      <uri>model://ground_plane</uri>
    </include>

    <!-- Actors is model with automated moving models in gazebo in this cas our actor is cosmonaut named Lagari Hasan Çelebi.-->
    <actor name="Lâgari Hasan Çelebi">
      <link name="cosmonaut">
        <visual name="visual">
          <pose>0 25 0.9 0 0 1.57</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/home/baran/rover_simulation_ws/src/Simulations/blender_gazebo/worlds/cosmonaut-dae/cosmonaut.dae</uri> <!-- Change this path if you want cosmounaut you can use pwd command on terminal.-->
            </mesh>
          </geometry>
        </visual>
      </link>
      <script>
        <loop>true</loop>
        <auto_start>true</auto_start>
        <trajectory id="0" type="square">
          <waypoint>
            <time>0.0</time>
            <pose>-1 -1 0 0 0 0</pose>
          </waypoint>
          <waypoint>
            <time>30.0</time>
            <pose>20 -1 0 0 0 0</pose>
          </waypoint>
          <!-- <waypoint>
            <time>2.0</time>
            <pose>1 1 1 0 0 0</pose>
          </waypoint>
          <waypoint>
            <time>3.0</time>
            <pose>1 -1 1 0 0 0</pose>
          </waypoint>
          <waypoint>
            <time>4.0</time>
            <pose>-1 -1 1 0 0 0</pose>
          </waypoint> -->
        </trajectory>
      </script>
    </actor>

    <xacro:include filename="$(find blender_gazebo)/sdf/landmark.sdf.xacro"/>

    <!-- Artag ids from 1 to 15-->
    <xacro:landmark id="1">
      <pose>-2.60 -5.17 0.42 0 0 0</pose>
    </xacro:landmark>

    <xacro:landmark id="2">
      <pose>-6.05 -5.75 0.22 0 0 1.33</pose>
    </xacro:landmark>

    <xacro:landmark id="3">
      <pose>-7.93 18.45 0.21 0 0 0.35</pose>
    </xacro:landmark>

    <xacro:landmark id="4">
      <pose>-0.23 9.19 0.29 0 0 0.98</pose>
    </xacro:landmark>

    <xacro:landmark id="5">
      <pose>-12.3 -6.28 0.16 0 0 1.47</pose>
    </xacro:landmark>

    <xacro:landmark id="6">
      <pose>18.46 -1.15 0.28 0 0 0.83</pose>
    </xacro:landmark>

    <xacro:landmark id="7">
      <pose>13.07 -7.09 0.32 0 0 1.19</pose>
    </xacro:landmark>

    <xacro:landmark id="8">
      <pose>3.05 17.20 0.19 0 0 0.95</pose>
    </xacro:landmark>

    <xacro:landmark id="9">
      <pose>-14.82 1.52 0.20 0 0 0.16</pose>
    </xacro:landmark>

    <xacro:landmark id="10">
      <pose>-10.74 -15.05 0.29 0 0 1.27</pose>
    </xacro:landmark>

    <xacro:landmark id="11">
      <pose>18.43 5.48 0.36 0 0 0.23</pose>
    </xacro:landmark>

    <xacro:landmark id="12">
      <pose>-4.14 4.51 0.12 0 0 0.47</pose>
    </xacro:landmark>

    <xacro:landmark id="13">
      <pose>9.78 5.39 0.35 0 0 1.13</pose>
    </xacro:landmark>

    <xacro:landmark id="15">
      <pose>15.60 -9.14 0.15 0 0 1.20</pose>
    </xacro:landmark>

  </world>
</sdf>
